@using System.Globalization
@using System.Web
@model Event
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <div id="create-form" class="form">
    <form action="/Event/Create" method="post">
         <h2>Create Form</h2>
        <label>
            Title:
            <input type="text" name="title"/>
            <br />
            <br/>
        </label>
        <label>
            Description:
            <input type="text" name="description" />
                <br />
                <br />

        </label>
            <label>
                Start Date:
                <input type="datetime-local" name="start_date" id="start_date" />
                <br />
                <br />

            </label>
            <label>
                End Date:
                <input type="datetime-local" name="end_date"  id="end_date" />
                <br />
                <br />

            </label>
            <button type="submit">Submit</button>
    </form>
</div>
}
