@using System.Globalization
@using System.Web
@model EventCalendar.Models.Event 
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="details-form">
    <div class="details">
        <p>@Model.Title</p>
        <p>@Model.Description</p>
        <p>@Model.StartDate</p>
        <p>@Model.EndDate</p>

    </div>
    <a asp-action="Update">Update</a>
    <a asp-action="Delete">Delete</a>
</div>
